# Python
*.pyc
*__pycache__/
*.so
.Python

# Django
db.sqlite3
db.sqlite3-journal
*.log
*.pot
*.pyc

# Environments
.env
.env.local
secret_key.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Media and static (if using collectstatic)
/media/
/staticfiles/

# DOCS
*.md